<mat-grid-list cols="2" >
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>

<div class="home-banner">
<div class="container"><img src="/assets/images/home-images/home-banner.jpg"/></div>
</div>
<main>
	<div class="content-sec">
		<div class="container">
			<div class="title-sec">
				<h2>Latest Events</h2>
			</div>
			<div class="latest-events">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="latest-events-wrap">
							<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-1.jpg"></div>
							<div class="latest-events-content">
								<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
								<div class="event-schedule">
									<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
									<h4>Oriana Schwindt</h4>
									<div class="ev-tag">
										<a href="#" class="date">Aug16</a>
										<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				<div class="col-sm-12 col-md-6">
						<div class="latest-events-wrap">
			     	<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-2.jpg"></div>
							<div class="latest-events-content">
								<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
								<div class="event-schedule">
									<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
									<h4>Oriana Schwindt</h4>
									<div class="ev-tag">
										<a href="#" class="date">Aug16</a>
										<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
									</div>
								</div>
							</div>
						</div>
					</div>

						<div class="col-sm-12 col-md-6">
						<div class="latest-events-wrap">
							<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-3.jpg"></div>
							<div class="latest-events-content">
								<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
								<div class="event-schedule">
									<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
									<h4>Oriana Schwindt</h4>
									<div class="ev-tag">
										<a href="#" class="date">Aug16</a>
										<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				<div class="col-sm-12 col-md-6">
						<div class="latest-events-wrap">
			     	<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-4.jpg"></div>
							<div class="latest-events-content">
								<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
								<div class="event-schedule">
									<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
									<h4>Oriana Schwindt</h4>
									<div class="ev-tag">
										<a href="#" class="date">Aug16</a>
										<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
									</div>
								</div>
							</div>
						</div>
					</div>



						<div class="col-sm-12 col-md-6">
						<div class="latest-events-wrap">
							<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-5.jpg"></div>
							<div class="latest-events-content">
								<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
								<div class="event-schedule">
									<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
									<h4>Oriana Schwindt</h4>
									<div class="ev-tag">
										<a href="#" class="date">Aug16</a>
										<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				<div class="col-sm-12 col-md-6">
						<div class="latest-events-wrap">
			     	<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-6.jpg"></div>
							<div class="latest-events-content">
								<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
								<div class="event-schedule">
									<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
									<h4>Oriana Schwindt</h4>
									<div class="ev-tag">
										<a href="#" class="date">Aug16</a>
										<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
									</div>
								</div>
							</div>
						</div>
					</div>


						<div class="col-sm-12 col-md-6">
						<div class="latest-events-wrap">
							<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-1.jpg"></div>
							<div class="latest-events-content">
								<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
								<div class="event-schedule">
									<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
									<h4>Oriana Schwindt</h4>
									<div class="ev-tag">
										<a href="#" class="date">Aug16</a>
										<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				<div class="col-sm-12 col-md-6">
						<div class="latest-events-wrap">
			     	<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-8.jpg"></div>
							<div class="latest-events-content">
								<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
								<div class="event-schedule">
									<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
									<h4>Oriana Schwindt</h4>
									<div class="ev-tag">
										<a href="#" class="date">Aug16</a>
										<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
</main>