<main>
    <!-- HEADER -->
    <header id="top">

        <!-- if you want to youtube video, delete the comments -->
        <!-- YOUTUBE PLAYER -->
        <!--<div id="video" data-video="cphYpNus4oQ" data-mute="true"></div>-->
        <!-- /YOUTUBE PLAYER -->
        <div class="backstretch">
            <img src="assets/images/mountain.jpg">
        </div>

        <canvas id="constellation"></canvas>
        <div class="welcome">

            <div class="logo"><img src="images/logo.png" width="190" height="190" alt=""></div>

            <h1>COMING SOON</h1>

            <p>Our website is under construction, we are working very hard to give you the best experience with this
                one.<br> You will love Mountain as much as we do. It will morph perfectly on your needs!</p>

        </div>


    </header>
</main>
