
<main>
<div class="content-sec">
<div class="container">

<mat-list>
<mat-list-item class="title-sec"><h2 class="event_title">Health </h2>
<a mat-button href="javascript:void 0" class="follow_btn">Follow</a>
</mat-list-item>


</mat-list>
<div class="latest-events">

<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>


<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle  class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

</div>
</div>
</div>
</main>
