main {



    header {
        text-align: center;
        overflow: hidden;
        width: 100%;
    }
    .welcome {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 230px;
    }
    header h1 {
        font-size: 2.5em;
        color: #fff;
        font-weight: 300;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: "Raleway", sans-serif;
    }
    header p {
        font-size: 14px;
        color: rgba(236, 240, 241, 0.9);
        word-spacing: 1px;
        line-height: 25px;
        padding-bottom: 10px;
    }
    header .mouse {
        margin-left: -20px;
        position: absolute;
        text-align: center;
        bottom: 0;
        left: 50%;
        animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
        -webkit-animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
        -moz-animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
        -o-animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
    }
    header .mouse a {
        color: #F9F9F9;
        position: relative;
        bottom: -230px;
        line-height: 45px;
        font-size: 9px;
        text-align: center;
        width: 22px;
        height: 36px;
        border-radius: 10px;
        display: inline-block;
        border: 2px solid rgba(255, 255, 255, 0.6);
    }
    @keyframes wobbleArrow {
        from {
            bottom: 40px;
        }
        to {
            bottom: 50px;
        }
    }
    @-webkit-keyframes wobbleArrow {
        from {
            bottom: 40px;
        }
        to {
            bottom: 50px;
        }
    }




}