@import './src/assets/css/variables.scss';
@import './src/assets/css/mixins.scss';

.container {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.content-sec {
	padding: 18px 0;
	display: inline-block;
	width: 100%;

	.mat-card {
		padding: 0px;
		background: none;
		box-shadow: none;
	}

	img {
		width: auto;
		margin: 0px;
		max-width: 100% !important;
	}

}

.fa {
	width: auto !important;
	height: auto !important;
	min-width: auto !important;
	min-height: auto !important;
}

.business-page {
	display: inline-block;
	width: 100%;

	.sidebar-menu {
		width: 100%;
		max-width: 228px;
		float: left;
		background: $bus-page-bg;
		border: solid 1px $bus-page-border;
		min-height: 590px;

		.company-logo {
			background: $white-color;
			border: solid 1px $bus-page-border;
			padding: 18px;
			margin: 18px;
		}

		.sidebar-name {
			padding-left: 18px;

			.mat-card-title {
				margin-bottom: 0px;
			}

			h2 {
				font-size: 19px;
				color: $primary-color;
				margin: 0px;

				.mat-icon {
					color: $blue-color;
					position: relative;
					top: 3px;
				}

			}

			p {
				font-size: 13px;
				color: $primary-color;
				font-weight: 300;
			}

		}

		.sidebar-nav {
			.mat-list-item-content {
				padding: 0px;
			}

			a {
				&.mat-button {
					min-width: 100%;
					width: 100%;
					text-align: left;
					font-size: 15px;
					color: $primary-color;
					font-weight: 400;
					padding: 0 21px;

					&:hover {
						background: $blue-color;
						color: $white-color;
					}

				}

			}

		}

	}

	.business-content {
		width: 100%;
		max-width: 888px;
		float: right;

		.business-banner {
			background: $bus-page-bg;
			border: solid 1px $bus-page-border;
		}

		.nav-banner {
			display: inline-block;
			width: 100%;
			padding: 10px 15px 8px;

			.nav-left {
				float: left;

				.mat-button {
					background: $blue-color;
					color: $white-color;
					font-size: 14px;
					margin-right: 1px;
					min-width: auto;
					padding: 0 17px;
					border-radius: 0px;
					line-height: 32px;
					font-weight: 400;

					.mat-icon {
						color: $white-color;
						margin-right: 4px;
						position: relative;
						bottom: 1px;
					}

				}

			}

			.nav-right {
				float: right;

				.mat-button {
					&.learn-more {
						background: $blue-color;
						color: $white-color;
						font-size: 14px;
						margin-right: 1px;
						min-width: auto;
						padding: 0 34px;
						border-radius: 0px;
						line-height: 32px;
						font-weight: 400;
						border: solid 1px $blue-color;
						margin-right: 7px;
					}

					&.send-msg {
						border: solid 1px $bus-page-border;
						background: $white-color;
						color: $primary-color;

						.mat-icon {
							margin-right: 5px;
						}

					}

				}

			}

		}

		.business-wrap {
			display: inline-block;
			width: 100%;
			margin-top: 18px;

			.title {
				margin-top: 0px;
			}

			.business-post {
				width: 100%;
				max-width: 595px;
				float: left;
				background: $bus-page-bg;
				border: solid 1px $bus-page-border;
				padding: 20px;

				.post-wrap {
					background: $white-color;
					border: solid 1px $bus-page-border;

					.logo-small {
						float: left;
						margin-left: 14px;
						margin-right: 13px;

						img {
							border: solid 1px $bus-page-border;
							width: 43px;
							height: 43px;
							@include border-radius(50%);
							padding: 5px;
						}

					}

					h3 {
						color: $blue-color;
						font-weight: 600;
						font-size: 18px;
						margin-bottom: 0px;
					}

					span {
						font-size: 13px;
						font-weight: 300;
						display: block;
					}

					.mat-card-content {
						p {
							color: $primary-color;
							font-size: 14px;
							line-height: 20px;
							font-weight: 300;
							padding: 0 17px;
						}

					}

					.post-response {
						text-align: right;
						padding: 10px 0px;
						border-bottom: solid 1px $bus-page-border;

						a {
							float: none;
							display: inline-block;
							font-size: 13px;
							font-weight: 300;
						}

					}

					.post-details {
						text-align: center;
						padding: 4px 0px;
						border-bottom: solid 1px $bus-page-border;

						a {
							float: none;
							display: inline-block;
							font-size: 15px;
							font-weight: 400;
							color: $primary-color;
							margin: 0 32px;

							.mat-icon {
								position: relative;
								bottom: -2px;
								margin-right: 5px;
								font-size: 23px !important;
								width: 22px !important;
								height: 22px !important;
								color: rgba(0, 0, 0, 0.4);
							}

						}

					}

					.most-relevant {
						text-align: left;
						padding: 4px 0px;
						border-bottom: solid 1px $bus-page-border;

						.relevant {
							color: $blue-color;
							font-size: 13px;
							font-weight: 300;

							.mat-icon {
								color: $blue-color;
								position: relative;
								bottom: 2px;
							}

						}

					}

					.post-comment {
						text-align: left;
						padding: 13px 12px 1px;
						display: inline-block;
						width: 100%;

						.user-img {
							float: left;
							margin-right: 11px;

							img {
								border: solid 1px $bus-page-border;
								width: 43px;
								height: 43px;
								@include border-radius(50%);
								padding: 5px;
							}

						}

						.user-comment {
							overflow: hidden;

							form {
								textarea {
									background: $textarea;
									@include border-radius(3px);
									padding: 7px 10px;
									margin: 0;
									height: auto;
									font-size: 13px;
								}

							}

						}

						a {
							color: $blue-color;
							font-size: 13px;
							font-weight: 300;
							padding: 5px 6px;
						}

					}

				}

			}

			.right-section {
				width: 100%;
				max-width: 275px;
				float: right;

				a {
					color: $blue-color;
				}

				.response-msg {
					border: solid 1px $bus-page-border;
					padding: 3px 2px;
					margin-bottom: 14px;

					a {
						font-size: 13px;
						color: $primary-color;
						font-weight: 400;
					}

				}

				.community-sec {
					border: solid 1px $bus-page-border;
					padding: 10px 10px;
					margin-bottom: 14px;

					h4 {
						font-size: 13px;
						color: $primary-color;
						font-weight: 400;
						margin-top: 0px;
						margin-bottom: 3px;
					}

					.mat-card-title {
						margin-bottom: 0px;
					}

					.mat-icon {
						float: left;
						display: block;
						vertical-align: top;
						margin-right: 6px;
						width: 20px !important;
						height: 20px !important;
						line-height: 20px !important;
						font-size: 20px !important;
						color: rgba(0, 0, 0, 0.4);
					}

				}

				.about-info {
					border: solid 1px $bus-page-border;
					padding: 10px 10px;
					margin-bottom: 14px;

					a {
						display: inline-block;
					}

					h4 {
						font-size: 13px;
						color: $primary-color;
						font-weight: 400;
						margin-top: 0px;
						margin-bottom: 3px;
					}

					.mat-card-title {
						margin-bottom: 0px;
					}

					.mat-icon {
						float: left;
						display: block;
						vertical-align: top;
						margin-right: 6px;
						width: 20px !important;
						height: 20px !important;
						line-height: 20px !important;
						font-size: 20px !important;
						color: rgba(0, 0, 0, 0.4);
					}

				}

				.page-like {
					border: solid 1px $bus-page-border;

					.mat-card-title { margin-bottom:0px;
						span {
							display: inline-block;
							width: 100%;
							border-bottom: solid 1px $bus-page-border;
							padding: 10px 11px;

							h4 {
								font-size: 13px;
								color: $primary-color;
								font-weight: 400;
								float: left;
								margin-top: 0px;
								margin-bottom: 0px;
								font-weight:500;
							}

							.arrow-right {
								float: right;
								line-height: normal;
								min-width: auto;
								padding: 0px;
							}

						}

					}

					.mat-list{ padding-top:0px;}

					.mat-list-item{ padding:0px;}


					.icon{ float:left;    
						margin-right: 11px;
						img {
								border: solid 1px $bus-page-border;
								width: 43px;
								height: 43px;
								@include border-radius(50%);
								padding: 5px;
							}

					  }

					  .wrap{ display:inline-block; width:100%; border-bottom: solid 1px $bus-page-border;
					  	    padding: 2px 11px;
					  }


						h5{
							font-size:13px;
							color:$primary-color;
							font-weight:500;
							float: left;
                            margin: 0;
                            padding-top: 9px;
     					}	

     					.like-btn{
     						background:$chat-bg;
     						border: solid 1px $bus-page-border;
     						float: right;
						    display: block;
						    min-width: auto;
						    padding: 4px 10px 2px;
						    height: auto;
						        line-height: 22px;
						    color:$primary-color;
						        margin-top: 4px;

						    .mat-icon{
						    	float:left;
						    	    margin-right: 4px;
						    }

     					}




				}

			}

		}

	}

}

@media only screen and (max-width:1199px) and (min-width:992px) {
}
