<main>
	<div class="content-sec">
		<div class="container">
			<mat-card class="business-page">
			<mat-card class="sidebar-menu">
			<mat-card class="sidebar-logo">
			<mat-card class="company-logo">
			<img mat-card-image src="/assets/images/home-images/inner-logo.svg">
			</mat-card>
			<mat-card class="sidebar-name">
			<mat-card-title><h2>Smart Life Path<mat-icon class="secondary-text s-18">check_circle</mat-icon></h2>
			</mat-card-title>
			<mat-card-content><p>@Smart Life Path</p></mat-card-content>
			</mat-card>
			</mat-card>
			<mat-card class="sidebar-nav">
			<mat-list role="list">
			<mat-list-item role="listitem"><a mat-button href="#"class="home">Home</a></mat-list-item>
			<mat-list-item role="listitem"><a mat-button href="#"class="about">About</a></mat-list-item>
			<mat-list-item role="listitem"><a mat-button href="#"class="event">Events</a></mat-list-item>
			<mat-list-item role="listitem"><a mat-button href="event-add"class="create">Create a Event</a></mat-list-item>
			</mat-list>
			</mat-card>
			</mat-card>
			<mat-card class="business-content">
			<mat-card class="business-banner">
			<img mat-card-image src="/assets/images/home-images/post-banner.jpg" class="top_banner">
			<mat-card class="nav-banner">
			<mat-card class="nav-left">
			<a mat-button href="#"class="like"><mat-icon class="secondary-text s-18">thumb_up</mat-icon>Like</a>
			<a mat-button href="#"class="follow"><mat-icon class="secondary-text s-18">rss_feed</mat-icon>Follow</a>
			<a mat-button href="#"class="share"><mat-icon class="secondary-text s-18">reply</mat-icon>Share</a>
			<a mat-button href="#"class="more"><mat-icon class="secondary-text s-18">more_horiz</mat-icon></a>
			</mat-card>
			<mat-card class="nav-right">
			<a mat-button href="#"class="learn-more">Learn More</a>
			<a mat-button href="#"class="send-msg"><mat-icon class="secondary-text s-18">message</mat-icon>Send Message</a>
			</mat-card>
			</mat-card>
			</mat-card>
			<mat-card class="business-wrap">
			<mat-card class="business-post">
			<mat-card-title><h3 class="title">Events</h3></mat-card-title>
			<mat-card class="post-wrap">
			<mat-card-title>
			<mat-card class="logo-small"><img mat-card-image src="/assets/images/home-images/inner-logo.svg"></mat-card>
			<h3>Smart Life Path</h3>
			<span>20 September at 14:28</span>
			</mat-card-title>
			<mat-card-content>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
			</mat-card-content>
			<mat-card class="post-img">
			<img mat-card-image src="/assets/images/home-images/post-img-1.jpg" class="psot_banner">
			</mat-card>
			<mat-card class="post-response">
			<a mat-button href="#"class="comm">2.1K Comments</a>
			<a mat-button href="#"class="share">2.9K Shares</a>
			<a mat-button href="#"class="views">1M Views</a>
			</mat-card>
			<mat-card class="post-details">
			<a mat-button href="#"class="like"><mat-icon class="secondary-text s-18">thumb_up</mat-icon>Like</a>
			<a mat-button href="#"class="comment"><mat-icon class="secondary-text s-18">mode_comment</mat-icon>Comment</a>
			<a mat-button href="#"class="date"><mat-icon class="secondary-text s-18">thumb_up</mat-icon>Share</a>
			</mat-card>
			<mat-card class="most-relevant">
			<a mat-button href="#"class="relevant">Most relevant <mat-icon class="secondary-text s-18">arrow_drop_down</mat-icon></a>
			</mat-card>
			<mat-card class="post-comment">
			<mat-card class="user-img"><img mat-card-image src="/assets/images/home-images/inner-logo.svg"></mat-card>
			<mat-card class="user-comment">
			<form>
				<mat-form-field class="example-full-width">
				<textarea matInput placeholder="Write a comment"></textarea>
				</mat-form-field>
			</form>
			</mat-card>
			<mat-card class="view-comment">
			<a mat-button href="#"class="view-all">View all 2, 123 comments</a>
			</mat-card>
			</mat-card>
			</mat-card>
			</mat-card>
			<mat-card class="right-section">
			<mat-card class="response-msg">
			<a mat-button href="#"class="msg-resp"><mat-icon class="secondary-text s-18">message</mat-icon> Responsive to messages</a>
			</mat-card>
			<mat-card class="community-sec">
			<mat-card-title>
			<h4>Community</h4>
			</mat-card-title>
			<mat-list role="list">
			<mat-list-item role="listitem"><mat-icon class="secondary-text s-18">person_add</mat-icon><a href="#">Invite your friends</a> to like this Event</mat-list-item>
			<mat-list-item role="listitem"><mat-icon class="secondary-text s-18">thumb_up</mat-icon>5, 548, 436 people like this</mat-list-item>
			<mat-list-item role="listitem"><mat-icon class="secondary-text s-18">rss_feed</mat-icon>5, 515, 530 people follow this</mat-list-item>
			<mat-list-item role="listitem"><mat-icon class="secondary-text s-18">people_outline</mat-icon>jon and 8 other friends like this</mat-list-item>
			</mat-list>
			</mat-card>
			<mat-card class="about-info">
			<mat-card-title>
			<h4>Community</h4>
			</mat-card-title>
			<mat-list role="list">
			<mat-list-item role="listitem"><mat-icon class="secondary-text s-18">chat_bubble_outline</mat-icon><span>Typically replies instantly <a href="#">Send message</a></span></mat-list-item>
			<mat-list-item role="listitem"><mat-icon class="secondary-text s-18">language</mat-icon><a href="#">www.smartlifepath.com</a></mat-list-item>
			<mat-list-item role="listitem"><mat-icon class="secondary-text s-18">rss_feed</mat-icon><a href="#">Product/service</a></mat-list-item>
			<mat-list-item role="listitem"><mat-icon class="secondary-text s-18">mode_edit</mat-icon><a href="#">Suggest Edits</a></mat-list-item>
			</mat-list>
			</mat-card>

			<mat-card class="page-like">
			<mat-card-title>
            <span><h4>Events liked by this Event</h4>
            <a mat-button href="#" class="arrow-right"><mat-icon class="secondary-text s-18">chevron_right</mat-icon></a></span>
			</mat-card-title>

			<mat-list role="list">
			<mat-list-item role="listitem">
			<span class="wrap">
           
			<mat-card class="icon"><img mat-card-image src="/assets/images/home-images/inner-logo.svg"></mat-card>
			<h5>Smart Life Path</h5>
			<a mat-button href="#" class="like-btn"><mat-icon class="secondary-text s-18">thumb_up</mat-icon>Like</a>
			</span>	

			</mat-list-item>
			</mat-list>

			</mat-card>


			</mat-card>
			</mat-card>
			</mat-card>
			</mat-card>
		</div>
	</div>
</main>