<div fxLayout="row" fxLayoutAlign="flex-start"  fxFlex class="login_box">
	<div id="Register-form" class="popup-form">
		<mat-vertical-stepper [linear]="isLinear" #stepper>
		<mat-step [stepControl]="firstFormGroup">
		<ng-template matStepLabel>Join Today</ng-template>
		<form name="joinForm" [formGroup]="joinForm" novalidate>
			<mat-form-field>
			<input matInput type="text" placeholder="Name" formControlName="name">
				<mat-error>
				Name is required
				</mat-error>
				</mat-form-field>
			<mat-form-field>
			<input matInput placeholder="Email" formControlName="email" (blur)="checkEmail()">
			<mat-error *ngIf="joinForm.get('email').hasError('required')">
			Email is required
			</mat-error>
			<mat-error
			*ngIf="!joinForm.get('email').hasError('required') &&
			joinForm.get('email').hasError('email')">
			Please enter a valid email address
			</mat-error>
			</mat-form-field>
			<mat-form-field>
			<input matInput type="password" placeholder="Password" formControlName="password">
			<mat-error>
			Password is required
			</mat-error>
			</mat-form-field>
			<mat-form-field>
			<input matInput type="text" placeholder="Postcode" formControlName="postcode">
			<mat-error>
			Postcode is required
			</mat-error>
			</mat-form-field>
			<div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
				fxLayoutAlign="space-between center">
				<mat-checkbox class="change-me" aria-label="change-me">
				If You Want to Register as a Company
				</mat-checkbox>
			</div>
			<button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
			[disabled]="joinForm.invalid" (click)="join_today_signup()">
			LOGIN
			</button>
			<div class="form-footer">
				<p class="copyright">
					To make Smart Life Path work, we log user data and share it with
					service providers. Click "Sign in" above to accept Smart Life Path’s
					<a href="#">Terms of Service</a> & <a href="#">Privacy Policy.</a>
				</p>
			</div>
		</form>
		</mat-step>
		<mat-step [stepControl]="secondFormGroup">
	
			<ng-template matStepLabel>Organisation Registration</ng-template>
			<form name="loginForm" [formGroup]="loginForm" novalidate>
			<mat-form-field>
			<input matInput type="text" placeholder="Name" formControlName="name">
				<mat-error>
				Name is required
				</mat-error>
				</mat-form-field>
					<mat-form-field>
				<input matInput type="text" placeholder="Website" formControlName="website">
				<mat-error>
				Website is required
				</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" placeholder="Password" formControlName="password">
					<mat-error>
					Password is required
					</mat-error>
					</mat-form-field>
				<mat-form-field>
				<input matInput placeholder="Email" formControlName="email" (blur)="checkEmailOrganisation()">
				<mat-error *ngIf="loginForm.get('email').hasError('required')">
				Email is required
				</mat-error>
				<mat-error
				*ngIf="!loginForm.get('email').hasError('required') &&
				loginForm.get('email').hasError('email')">
				Please enter a valid email address
				</mat-error>
				</mat-form-field>
			
				<mat-form-field>
				<input matInput type="text" placeholder="Telephone" formControlName="telephone">
				<mat-error>
				Telephone is required
				</mat-error>
				</mat-form-field>
<mat-form-field>
				<input matInput type="text" placeholder="Postcode" formControlName="postcode">
				<mat-error>
				Postcode is required
				</mat-error>
				</mat-form-field>			
				
				
				<!--<mat-form-field>
				<input matInput type="password" placeholder="Password" formControlName="password">
				<mat-error>
				Password is required
				</mat-error>
				</mat-form-field>-->
				
					<mat-form-field>
					<mat-select placeholder="Categories" formControlName="categories" required>
					<mat-option [value]="2">
					Categories1
					</mat-option>
					<mat-option [value]="1">
					Categories2
					</mat-option>
					</mat-select>

					</mat-form-field>				
				
				
				<button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
				[disabled]="loginForm.invalid"  (click)="organisation_signup()">
				Create an Account
				</button>
				<a mat-button  class="forgot-button" >Back</a>
							<div class="form-footer">
				<p class="copyright">
					To make Smart Life Path work, we log user data and share it with
					service providers. Click "Sign in" above to accept Smart Life Path’s
					<a href="#">Terms of Service</a> & <a href="#">Privacy Policy.</a>
				</p>
			</div>
			</form>
		
		</mat-step>
		</mat-vertical-stepper>
	</div>
</div>