<main>
	<div class="content-sec">
		<div class="container">
			<mat-card class="my-profile">
			<mat-card class="profile-banner">
			<mat-card class="banner-img">
			<img mat-card-image src="/assets/images/home-images/profile-banner.jpg">
			<mat-card class="bg-black"></mat-card>
			</mat-card>
			<mat-card class="user-info">
			<mat-card class="user-img">
			<img mat-card-image src="/assets/images/home-images/profile-img.jpg">
			<a href="#" mat-card-image class="upload"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">camera_alt</mat-icon></a>
			</mat-card>
			<mat-card class="author-name">
			<mat-card-title><h3>Charlie Adams</h3></mat-card-title>
			</mat-card>
			</mat-card>
			</mat-card>
			</mat-card>
			<mat-card class="profile-content">
			<mat-card class="left-detail">	
				<mat-card-title><h2 class="title">Activity Stream</h2></mat-card-title>	
			<mat-card class="my-profile-detail">

			<mat-card class="event-list">
			<mat-card class="event-list-img"><img mat-card-image src="/assets/images/home-images/event-list-img-1.jpg"></mat-card>
			<mat-card class="event-list-content">
			<mat-card class="links-add"><a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>

			<mat-card class="dropdown">
			 <mat-list role="list">
			  <mat-list-item role="listitem"><a mat-button href="#" class="add-btn"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">add</mat-icon>Add</a></mat-list-item>
			 <mat-list-item role="listitem"><a mat-button href="#" class="add-btn"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon>Delete</a></mat-list-item>
			 <mat-list-item role="listitem"><a mat-button href="#" class="add-btn"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">remove_red_eye</mat-icon>View</a></mat-list-item>
			</mat-list>
            </mat-card>	

			</mat-card>
			<mat-card-title><h3>Lorem Ipsum is simply</h3></mat-card-title>
			<mat-card-content><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			</mat-card-content>
			<mat-card-footer class="price-sec">
			<mat-card class="price-left">Target : $5</mat-card>
			<mat-card class="price-right">Get : $2</mat-card>
			</mat-card-footer>
			</mat-card>
			</mat-card>
						<mat-card class="event-list">
			<mat-card class="event-list-img"><img mat-card-image src="/assets/images/home-images/event-list-img-1.jpg"></mat-card>
			<mat-card class="event-list-content">
							<mat-card class="links-add"><a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>

			<mat-card class="dropdown">
			 <mat-list role="list">
			  <mat-list-item role="listitem"><a mat-button href="#" class="add-btn"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">add</mat-icon>Add</a></mat-list-item>
			 <mat-list-item role="listitem"><a mat-button href="#" class="add-btn"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon>Delete</a></mat-list-item>
			 <mat-list-item role="listitem"><a mat-button href="#" class="add-btn"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">remove_red_eye</mat-icon>View</a></mat-list-item>
			</mat-list>
            </mat-card>	

			</mat-card>

			<mat-card-title><h3>Lorem Ipsum is simply</h3></mat-card-title>
			<mat-card-content><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			</mat-card-content>
			<mat-card-footer class="price-sec">
			<mat-card class="price-left">Target : $5</mat-card>
			<mat-card class="price-right">Get : $2</mat-card>
			</mat-card-footer>
			</mat-card>
			</mat-card>

						<mat-card class="event-list">
			<mat-card class="event-list-img"><img mat-card-image src="/assets/images/home-images/event-list-img-1.jpg"></mat-card>
			<mat-card class="event-list-content">
							<mat-card class="links-add"><a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>

			<mat-card class="dropdown">
			 <mat-list role="list">
			  <mat-list-item role="listitem"><a mat-button href="#" class="add-btn"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">add</mat-icon>Add</a></mat-list-item>
			 <mat-list-item role="listitem"><a mat-button href="#" class="add-btn"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon>Delete</a></mat-list-item>
			 <mat-list-item role="listitem"><a mat-button href="#" class="add-btn"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">remove_red_eye</mat-icon>View</a></mat-list-item>
			</mat-list>
            </mat-card>	

			</mat-card>
			<mat-card-title><h3>Lorem Ipsum is simply</h3></mat-card-title>
			<mat-card-content><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			</mat-card-content>
			<mat-card-footer class="price-sec">
			<mat-card class="price-left">Target : $5</mat-card>
			<mat-card class="price-right">Get : $2</mat-card>
			</mat-card-footer>
			</mat-card>
			</mat-card>


			</mat-card>
			</mat-card>


			<mat-card class="sidebar-right">
			<mat-card-title><h2 class="title">Followers</h2></mat-card-title>
			<mat-card class="followers-sec">
			<mat-list>
			<mat-list-item>
			<mat-card class="followers-wrap">
			<mat-card class="followers-img"><img mat-card-image src="/assets/images/home-images/author-img-2.jpg"></mat-card>
			<mat-card class="followers-content">
			<mat-card-title><h4>Shail Singh</h4></mat-card-title>
			<mat-card-content><span>2h</span></mat-card-content>
			</mat-card>
			<a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>
			</mat-card>
			</mat-list-item>
						<mat-list-item>
			<mat-card class="followers-wrap">
			<mat-card class="followers-img"><img mat-card-image src="/assets/images/home-images/author-img-2.jpg"></mat-card>
			<mat-card class="followers-content">
			<mat-card-title><h4>Shail Singh</h4></mat-card-title>
			<mat-card-content><span>2h</span></mat-card-content>
			</mat-card>
			<a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>
			</mat-card>
			</mat-list-item>

						<mat-list-item>
			<mat-card class="followers-wrap">
			<mat-card class="followers-img"><img mat-card-image src="/assets/images/home-images/author-img-2.jpg"></mat-card>
			<mat-card class="followers-content">
			<mat-card-title><h4>Shail Singh</h4></mat-card-title>
			<mat-card-content><span>2h</span></mat-card-content>
			</mat-card>
			<a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>
			</mat-card>
			</mat-list-item>
						<mat-list-item>
			<mat-card class="followers-wrap">
			<mat-card class="followers-img"><img mat-card-image src="/assets/images/home-images/author-img-2.jpg"></mat-card>
			<mat-card class="followers-content">
			<mat-card-title><h4>Shail Singh</h4></mat-card-title>
			<mat-card-content><span>2h</span></mat-card-content>
			</mat-card>
			<a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>
			</mat-card>
			</mat-list-item>

						<mat-list-item>
			<mat-card class="followers-wrap">
			<mat-card class="followers-img"><img mat-card-image src="/assets/images/home-images/author-img-2.jpg"></mat-card>
			<mat-card class="followers-content">
			<mat-card-title><h4>Shail Singh</h4></mat-card-title>
			<mat-card-content><span>2h</span></mat-card-content>
			</mat-card>
			<a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>
			</mat-card>
			</mat-list-item>

						<mat-list-item>
			<mat-card class="followers-wrap">
			<mat-card class="followers-img"><img mat-card-image src="/assets/images/home-images/author-img-2.jpg"></mat-card>
			<mat-card class="followers-content">
			<mat-card-title><h4>Shail Singh</h4></mat-card-title>
			<mat-card-content><span>2h</span></mat-card-content>
			</mat-card>
			<a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>
			</mat-card>
			</mat-list-item>


			</mat-list>
			</mat-card>
			</mat-card>
			</mat-card>
			
		</div>
	</div>
</main>