<main>
	<div class="content-sec contact-page">
		<div class="container">
			<h2>CONTACT US</h2>
			<p>Customer Care Centre. Wherever you are in the world, know that we're only a call away. <br>Contact us at anyone of our call centres with the contact details and numbers listed below.</p>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="contact-infobox text-center">
						<span class="contact-infobox-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
						<h6>address street</h6>
						<p>Address : No 40 Lorem Ipsum 133/2 <br> NewYork City, NY, United States.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="contact-infobox text-center">
						<span class="contact-infobox-icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
						<h6>Number phone</h6>
						<p>Phone 1: <a href="#">0(1234) 234 56789</a></p>
						<p>Phone 2: <a href="#">0(987) 333 444</a></p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="contact-infobox text-center">
						<span class="contact-infobox-icon"><i class="fa fa-print" aria-hidden="true"></i></span>
						<h6>Number fax</h6>
						<p>Fax 1: 0(1234) 234 56789</p>
						<p>Fax 2: 0(987) 333 444</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="contact-infobox text-center">
						<span class="contact-infobox-icon"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
						<h6>Address email</h6>
						<p><a href="#">info@example.com</a></p>
						<p><a href="#">Nameyour@example.com</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-page-bottom">
			<div class="container">
				<h2>TELL US YOUR PROJECT</h2>
				<form class="contact-page-form">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<input type="text" name="name" placeholder="Your Name">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<input type="email" name="email" placeholder="Your email">
							</div>
							
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<input type="text" name="subject" placeholder="Subject">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<textarea name="message" cols="30" rows="7" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<button type="submit" class="submit-btn btn button"><span>Send message <i class="fa fa-angle-right"></i></span></button>
							</div>
						</div>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</main>