<main>
	<div class="content-sec our-story">
		<div class="about-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="left-img"><img src="/assets/images/home-images/about-img.jpg"></div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="about-content">
							<h2>A meet up increase your friends & Connections.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="event-work">
			<div class="container">
				<h2>Event Work Process</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				<div class="row">
					<div class="col-sm-4 col-md-4">
						<div class="work-process">
							<span class="icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
							<h4>Collect Information</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry.</p>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="work-process">
							<span class="icon"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
							<h4>Buy Tickets</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry.</p>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="work-process">
							<span class="icon"><i class="fa fa-glass" aria-hidden="true"></i></span>
							<h4>Attend Event</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="latest-news">
			<div class="container">
			   <h2>Latest News</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				<div class="row">
					<div class="col-sm-4">
						<div class="blog-item">
							<div class="blog-thumb"><img src="/assets/images/home-images/latest-news-img-1.jpg"></div>
							<div class="blog-content ">
								<div class="blog-meta">
									<div class="blog-author"><img src="/assets/images/home-images/user-img.png"></div>
									<div class="blog-info">
										<h4>ayojok</h4>
										<p class="blog-author-date">7 months ago</p>
									</div>
																	</div>
									<h3 class="title">post-title title</h3>
									<p>Default this is a paragraph. It should not one have any alignment of any kind. It should just flow like</p>
									<div class="blog-footer-meta">	
									<span> <a href="#" class="jm-post-like" title="Likes"><span class="like-text">Like : </span><span>2&nbsp;</span></a></span>
									<span class="meta-item view">View : 12</span>
									<span class="post-comments"><a href="#" class="post-comment">No Comments</a></span>	
									</div>


							</div>

						</div>

					</div>

					<div class="col-sm-4">
						<div class="blog-item">
							<div class="blog-thumb"><img src="/assets/images/home-images/latest-news-img-2.jpg"></div>
							<div class="blog-content ">
								<div class="blog-meta">
									<div class="blog-author"><img src="/assets/images/home-images/user-img.png"></div>
									<div class="blog-info">
										<h4>ayojok</h4>
										<p class="blog-author-date">7 months ago</p>
									</div>
																	</div>
									<h3 class="title">post-title title</h3>
									<p>Default this is a paragraph. It should not one have any alignment of any kind. It should just flow like</p>
									<div class="blog-footer-meta">	
									<span> <a href="#" class="jm-post-like" title="Likes"><span class="like-text">Like : </span><span>2&nbsp;</span></a></span>
									<span class="meta-item view">View : 12</span>
									<span class="post-comments"><a href="#" class="post-comment">No Comments</a></span>	
									</div>


							</div>

						</div>

					</div>


                         <div class="col-sm-4">
						<div class="blog-item">
							<div class="blog-thumb"><img src="/assets/images/home-images/latest-news-img-3.jpg"></div>
							<div class="blog-content ">
								<div class="blog-meta">
								<div class="blog-author"><img src="/assets/images/home-images/user-img.png"></div>
									<div class="blog-info">
										<h4>ayojok</h4>
										<p class="blog-author-date">7 months ago</p>
									</div>
																	</div>
									<h3 class="title">post-title title</h3>
									<p>Default this is a paragraph. It should not one have any alignment of any kind. It should just flow like</p>
									<div class="blog-footer-meta">	
									<span> <a href="#" class="jm-post-like" title="Likes"><span class="like-text">Like : </span><span>2&nbsp;</span></a></span>
									<span class="meta-item view">View : 12</span>
									<span class="post-comments"><a href="#" class="post-comment">No Comments</a></span>	
									</div>


							</div>

						</div>

					</div>



				</div>
				
				
			</div>
			
		</div>
	</div>
</main>