@import './src/assets/css/variables.scss';
@import './src/assets/css/mixins.scss';

.container {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.fa {
	width: auto !important;
	height: auto !important;
	min-width: auto !important;
	min-height: auto !important;
}

.content-sec {
	padding: 18px 0;
	display: inline-block;
	width: 100%;

	.mat-card {
		padding: 0px;
		background: none;
		box-shadow: none;
	}

	img {
		width: auto;
		margin: 0px;
		max-width: 100% !important;
	}

	.welcome-sec {
		h2 {
			color: $primary-color;
			position: relative;
			font-size: 46px;
			font-weight: 600;
			line-height: 1.2em;
			margin-bottom: 31px;
			text-transform: none;
			text-align: left;
			letter-spacing: 0px;
		}

	}


.brand-section{
		.brand-text{ 
			text-align:center; 
			width:100%; 
			max-width:882px; 
			margin:0 auto;
		h2 {
			color: $primary-color;
			position: relative;
			font-size: 46px;
			font-weight: 600;
			line-height: 1.2em;
			margin-bottom: 31px;
			text-transform: none;
			text-align: center;
			letter-spacing: 0px;
		}

		p{
			color: $primary-color;
			font-size: 19px;
			font-weight: 300;
			text-align:center;
			line-height:27px;
		}

		}

	}

}
