<main>
	<div class="content-sec">
		<mat-card class="welcome-sec">
		<div class="container">
			<mat-card-title>
			<h2>Welcome to Smart Life Path, where <br>words matter.</h2>
			</mat-card-title>
			<mat-card class="about-Page-Video">
			<img src="/assets/images/home-images/video-img.jpg">
			</mat-card>
		</div>
		</mat-card>
		<mat-card class="brand-section">
		<div class="container">
			<mat-card class="brand-text">
			<mat-card-title>
			<h2>Ideas and perspectives you won’t find anywhere else.</h2>
			</mat-card-title>
			<mat-card-content>
			<p>Medium taps into the brains of the world’s most insightful writers, thinkers, and storytellers to bring you the smartest takes on topics that matter. So whatever your interest, you can always find fresh thinking and unique perspectives.</p>
			</mat-card-content>
			</mat-card>
			<mat-card class="brand-content">
			<mat-tab-group>
			<mat-tab label="tech">
			<mat-card class="topic-Wrapper">
			<mat-card class="topicPostPreview">

			<mat-card class="topicPost-wrap">
			<mat-card class="topic-Post">
			<a mat-card-image href="#" class="img-post"><img src="/assets/images/home-images/post-img-1.jpeg"></a>
			<mat-card-title>
			<h3>The future of the open internet — and our way of life — is in your hands</h3>
			</mat-card-title>
			<mat-card-content>
			<p>There are a lot of scary things happening…</p>
			</mat-card-content>
			<mat-card class="topic-author">
			<mat-card class="author-img"></mat-card>
			<mat-card class="author-name">
			<mat-card-title><h4>Quincy Larson</h4></mat-card-title>
			<mat-card-content><span>26 min read</span></mat-card-content>
			</mat-card>
			</mat-card>
			</mat-card>
			</mat-card>
			<mat-card class="topicPost-wrap">
			<mat-card class="topic-Post">
			<a mat-card-image href="#" class="img-post"><img src="/assets/images/home-images/post-img-1.jpeg"></a>
			<mat-card-title>
			<h3>The future of the open internet — and our way of life — is in your hands</h3>
			</mat-card-title>
			<mat-card-content>
			<p>There are a lot of scary things happening…</p>
			</mat-card-content>
			<mat-card class="topic-author">
			<mat-card class="author-img"></mat-card>
			<mat-card class="author-name">
			<mat-card-title><h4>Quincy Larson</h4></mat-card-title>
			<mat-card-content><span>26 min read</span></mat-card-content>
			</mat-card>
			</mat-card>
			</mat-card>
			</mat-card>
			
			
			</mat-card>
			<mat-card class="brand-accent">
			<mat-card class="brand-accent-wrap">
			<mat-card-title><h4></h4></mat-card-title>
			<mat-card-content>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
			</mat-card-content>
			</mat-card>
			</mat-card>
			
			</mat-card>
			</mat-tab>
			<mat-tab label="Second"> culture </mat-tab>
			<mat-tab label="Third"> politics </mat-tab>
			<mat-tab label="Fourth"> business </mat-tab>
			<mat-tab label="Fifth"> life </mat-tab>
			</mat-tab-group>
			</mat-card>
		</div>
		</mat-card>
	</div>
</main>