
<main>

    <div class="content-sec">

        <div class="container">

            <section fxLayout="column" fxFlex="100">

               <div class="main-promo" fxLayout="row" fxFlex="100" >

                    <section  class="strap-text" fxLayout="column" fxFlex="50" fxFlex.gt-sm="50">
                        <p class="mat-display-1">

                            Welcome to Smart life path, supporting smart decisions for your community and life.
                        </p>
                        <p class="mat-headline">

                            We create smart tools to bring the community together.
                        </p>

                    </section>

                    <fuse-widget class="widget" fxLayout="column" fxFlex="50" fxFlex.gt-sm="50">

                        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14" [styles]="mapstyles">
                               <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
                            </agm-map>

                        </div>

                    </fuse-widget>
                </div>

                <div fxLayout="row" fxFlex="100" >

                <section fxLayout="column" fxFlex="100">

                    <mat-list>
                        <mat-list-item class="title-sec"><h2>Smart funding</h2></mat-list-item>
                    </mat-list>

                    <div fxLayout="row" fxLayoutAlign="space-between center">

                        <div class="pr-16">
                            <div class="mat-subheading-1">
                                We provide a platform for community organisations and indivduals to raise funds through the use of everyday internet service’s.
                                <br><br>
                                Thus making the opportunity’s the internet has created work for local community projects rather than large corporations.
                                <br><br>
                                Our current services focused around reducing your household bills, on average around save households £500 a year and can earn a selected local community organisation £100 worth of commission for its use.
                                <br><br>
                                Therefore if your an organisation with 100 members and all them were to use Bill swapping service you could earn £10000 worth of funding for your organisation.
                                <br><br>
                                This is just one example of a revenue models on the internet that can be re purposed for the good of the community.
                            </div>
                        </div>

                        <div class="w-300 h-300">
                            <img src="assets/images/houseHoldBills.jpg">
                        </div>

                    </div>

                </section>

            </div>

                <div fxLayout="row" fxFlex="100" >

                    <section fxLayout="column" fxFlex="100">

                        <mat-list>
                            <mat-list-item class="title-sec"><h2>Explore the community</h2></mat-list-item>
                        </mat-list>

                        <div fxLayout="row" fxLayoutAlign="space-between center">

                            <div class="w-300 h-300">
                                <img src="assets/images/explore.jpg">
                            </div>

                            <div class="pr-16">
                                <div class="mat-subheading-1">
                                    Defining and rating your community resources such as - Kids Parks, Charity shops and Local crafts.
                                    <br><br>
                                    We provide a platform for you to easily find and rate community resources such as Kids Parks, Charity shops, Local crafts.
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</main>
