
<main>
<div class="content-sec">
<div class="container">
<app-slider></app-slider>
<mat-list>
<mat-list-item class="title-sec"><h2>Latest Events</h2></mat-list-item>
</mat-list>
<div class="latest-events">
	
<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>


<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle  class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

<mat-card class="example-card">
<div class="latest-events-wrap">
	<div class="latest-events-img"><img mat-card-image src="/assets/images/home-images/latest-events-img-1.jpg" class="event_banner"></div>
	<mat-card-content class="latest-event-content">
	<mat-card-header>
	<mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing </mat-card-title>
	<mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p></mat-card-content>
	</mat-card-header>
	<div class="event-schedule">
		<span class="tag"><mat-icon  class="secondary-text s-18">bookmark</mat-icon></span>
		<mat-card-subtitle class="small-title">Oriana Schwindt</mat-card-subtitle>
		<mat-card-actions>
		<div class="ev-tag">
			<a mat-button href="#" class="date">Aug16</a>
			<span class="time"><mat-icon  class="secondary-text s-18">star</mat-icon> 4 min read</span>
		</div>
		</mat-card-actions>
	</div>
	</mat-card-content>
</div>
</mat-card>

</div>
</div>
</div>
</main>



<!--<div class="home-banner">
<div class="container"><img src="/assets/images/home-images/home-banner.jpg"/></div>
</div>
<main>
	<div class="content-sec">
			<div class="container">
					<div class="title-sec">
							<h2>Latest Events</h2>
					</div>
					<div class="latest-events">
							<div class="row">
									<div class="col-sm-12 col-md-6">
											<div class="latest-events-wrap">
													<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-1.jpg"></div>
													<div class="latest-events-content">
															<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
															<div class="event-schedule">
																	<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
																	<h4>Oriana Schwindt</h4>
																	<div class="ev-tag">
																			<a href="#" class="date">Aug16</a>
																			<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
																	</div>
															</div>
													</div>
											</div>
									</div>
								<div class="col-sm-12 col-md-6">
											<div class="latest-events-wrap">
										<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-2.jpg"></div>
													<div class="latest-events-content">
															<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
															<div class="event-schedule">
																	<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
																	<h4>Oriana Schwindt</h4>
																	<div class="ev-tag">
																			<a href="#" class="date">Aug16</a>
																			<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
																	</div>
															</div>
													</div>
											</div>
									</div>
										<div class="col-sm-12 col-md-6">
											<div class="latest-events-wrap">
													<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-3.jpg"></div>
													<div class="latest-events-content">
															<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
															<div class="event-schedule">
																	<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
																	<h4>Oriana Schwindt</h4>
																	<div class="ev-tag">
																			<a href="#" class="date">Aug16</a>
																			<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
																	</div>
															</div>
													</div>
											</div>
									</div>
								<div class="col-sm-12 col-md-6">
											<div class="latest-events-wrap">
										<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-4.jpg"></div>
													<div class="latest-events-content">
															<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
															<div class="event-schedule">
																	<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
																	<h4>Oriana Schwindt</h4>
																	<div class="ev-tag">
																			<a href="#" class="date">Aug16</a>
																			<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
																	</div>
															</div>
													</div>
											</div>
									</div>
										<div class="col-sm-12 col-md-6">
											<div class="latest-events-wrap">
													<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-5.jpg"></div>
													<div class="latest-events-content">
															<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
															<div class="event-schedule">
																	<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
																	<h4>Oriana Schwindt</h4>
																	<div class="ev-tag">
																			<a href="#" class="date">Aug16</a>
																			<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
																	</div>
															</div>
													</div>
											</div>
									</div>
								<div class="col-sm-12 col-md-6">
											<div class="latest-events-wrap">
										<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-6.jpg"></div>
													<div class="latest-events-content">
															<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
															<div class="event-schedule">
																	<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
																	<h4>Oriana Schwindt</h4>
																	<div class="ev-tag">
																			<a href="#" class="date">Aug16</a>
																			<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
																	</div>
															</div>
													</div>
											</div>
									</div>
										<div class="col-sm-12 col-md-6">
											<div class="latest-events-wrap">
													<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-1.jpg"></div>
													<div class="latest-events-content">
															<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
															<div class="event-schedule">
																	<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
																	<h4>Oriana Schwindt</h4>
																	<div class="ev-tag">
																			<a href="#" class="date">Aug16</a>
																			<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
																	</div>
															</div>
													</div>
											</div>
									</div>
								<div class="col-sm-12 col-md-6">
											<div class="latest-events-wrap">
										<div class="latest-events-img"><img src="/assets/images/home-images/latest-events-img-8.jpg"></div>
													<div class="latest-events-content">
															<h2>Lorem ipsum dolor sit amet, consectetur adipiscing </h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
															<div class="event-schedule">
																	<span class="tag"><img src="/assets/images/home-images/tag-icon.png"></span>
																	<h4>Oriana Schwindt</h4>
																	<div class="ev-tag">
																			<a href="#" class="date">Aug16</a>
																			<span class="time"><i class="fa fa-star" aria-hidden="true"></i> 4 min read</span>
																	</div>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
	</div>
	
</main>-->