<main>
	<div class="content-sec">
		<div class="container">
			<mat-card class="my-profile">
			<mat-card class="profile-banner">
			<mat-card class="banner-img">
			<img mat-card-image src="/assets/images/home-images/profile-banner.jpg">
			<mat-card class="bg-black"></mat-card>
			</mat-card>
			<mat-card class="user-info">
			<mat-card class="user-img">
			<img mat-card-image src="/assets/images/home-images/profile-img.jpg">
			<a href="#" mat-card-image class="upload"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">camera_alt</mat-icon></a>
			</mat-card>
			<mat-card class="author-name">
			<mat-card-title><h3>Charlie Adams</h3></mat-card-title>
			</mat-card>
			</mat-card>
			</mat-card>
			</mat-card>
			<mat-card class="profile-content">
			<mat-card class="left-detail">
			<mat-card-title><h2 class="title">Edit Detail</h2></mat-card-title>
			<mat-card class="my-profile-detail">
			<form name="edit_detail" class="edit-detail-form">
				<mat-form-field>
				<input matInput placeholder="First name" name="firstName" required>
				</mat-form-field>
				<mat-form-field>
				<input matInput placeholder="Last name" name="lastName" required>
				</mat-form-field>
				<mat-form-field>
				<input matInput placeholder="Email Address" name="email" required (blur)="checkEmail()">
				</mat-form-field>
				<mat-form-field>
				<input matInput placeholder="Password" name="password" required>
				</mat-form-field>
				<mat-form-field >
				<input matInput placeholder="Phone" name="phone" required>
				</mat-form-field>
				<mat-form-field >
				<textarea matInput placeholder="Address" name="address" required>
				</textarea>
				</mat-form-field>
				<mat-form-field fxFlex="33">
				<input matInput placeholder="City" name="city" required>
				</mat-form-field>
				<mat-form-field>
				<input matInput placeholder="State" name="state" required>
				</mat-form-field>
				<mat-form-field fxFlex="33">
				<input matInput #postalCode placeholder="Postal Code" value=""
				name="postalCode" required>
				<mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
				</mat-form-field>
				<mat-form-field >
				<mat-select placeholder="Country" name="country" required>
				<mat-option [value]="'United States of America'">
				United States of America
				</mat-option>
				<mat-option [value]="'United Kingdom'">
				United Kingdom
				</mat-option>
				<mat-option [value]="'Russia'">
				Russia
				</mat-option>
				<mat-option [value]="'China'">
				China
				</mat-option>
				<mat-option [value]="'Japan'">
				Japan
				</mat-option>
				<mat-option [value]="'Turkey'">
				Turkey
				</mat-option>
				</mat-select>
				
				</mat-form-field>
				<button mat-button class="submit-btn">Edit Detail</button>
			</form>
			<form name="change_password" class="change-password-form">
				<mat-form-field>
				<input matInput placeholder="New Password" name="newpassword" required>
				</mat-form-field>
				<mat-form-field>
				<input matInput placeholder="Confirm Password" name="confirmpassword" required>
				</mat-form-field>
				
				<button mat-button class="submit-btn">Change Password</button>
			</form>
			</mat-card>
			</mat-card>
			<mat-card class="sidebar-right">
			<mat-card-title><h2 class="title">Followers</h2></mat-card-title>
			<mat-card class="followers-sec">
			<mat-list>
			<mat-list-item>
			<mat-card class="followers-wrap">
			<mat-card class="followers-img"><img mat-card-image src="/assets/images/home-images/author-img-2.jpg"></mat-card>
			<mat-card class="followers-content">
			<mat-card-title><h4>Shail Singh</h4></mat-card-title>
			<mat-card-content><span>2h</span></mat-card-content>
			</mat-card>
			<a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>
			</mat-card>
			</mat-list-item>
			<mat-list-item>
			<mat-card class="followers-wrap">
			<mat-card class="followers-img"><img mat-card-image src="/assets/images/home-images/author-img-2.jpg"></mat-card>
			<mat-card class="followers-content">
			<mat-card-title><h4>Shail Singh</h4></mat-card-title>
			<mat-card-content><span>2h</span></mat-card-content>
			</mat-card>
			<a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>
			</mat-card>
			</mat-list-item>
			<mat-list-item>
			<mat-card class="followers-wrap">
			<mat-card class="followers-img"><img mat-card-image src="/assets/images/home-images/author-img-2.jpg"></mat-card>
			<mat-card class="followers-content">
			<mat-card-title><h4>Shail Singh</h4></mat-card-title>
			<mat-card-content><span>2h</span></mat-card-content>
			</mat-card>
			<a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>
			</mat-card>
			</mat-list-item>
			<mat-list-item>
			<mat-card class="followers-wrap">
			<mat-card class="followers-img"><img mat-card-image src="/assets/images/home-images/author-img-2.jpg"></mat-card>
			<mat-card class="followers-content">
			<mat-card-title><h4>Shail Singh</h4></mat-card-title>
			<mat-card-content><span>2h</span></mat-card-content>
			</mat-card>
			<a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>
			</mat-card>
			</mat-list-item>
			<mat-list-item>
			<mat-card class="followers-wrap">
			<mat-card class="followers-img"><img mat-card-image src="/assets/images/home-images/author-img-2.jpg"></mat-card>
			<mat-card class="followers-content">
			<mat-card-title><h4>Shail Singh</h4></mat-card-title>
			<mat-card-content><span>2h</span></mat-card-content>
			</mat-card>
			<a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>
			</mat-card>
			</mat-list-item>
			<mat-list-item>
			<mat-card class="followers-wrap">
			<mat-card class="followers-img"><img mat-card-image src="/assets/images/home-images/author-img-2.jpg"></mat-card>
			<mat-card class="followers-content">
			<mat-card-title><h4>Shail Singh</h4></mat-card-title>
			<mat-card-content><span>2h</span></mat-card-content>
			</mat-card>
			<a mat-button href="#" class="edit"><mat-icon _ngcontent-c38="" class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon></a>
			</mat-card>
			</mat-list-item>
			</mat-list>
			</mat-card>
			</mat-card>
			</mat-card>
			
		</div>
	</div>
</main>