@import url('https://fonts.googleapis.com/css?family=Varela');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

$font-body: 'Roboto', sans-serif;
$primary-color: #000000;
$logo-font:'Varela', sans-serif;
$blue-color:#0070ba;
$btn-font:15px;
$white-color:#ffffff;
$menu-color:#3f3f3f;
$grey-border:#e7e7e7;
$light-border:#e7e7e7;
$footer-color:#6d6d6d;
$popup-blue:#309ee6;
$green-color:#22c68a;
$checkbox-color:#506EEC;
$lighter-border:#f4f4f4;
$chat-bg:#fafafa;
$textarea-border:#d2d2d2;
$grey-title:#838383;
$contact-bg:#f6f6f6;
$contact-field-color:#edf2fa;
$dashboard-bg:#f8f8f8;
$hour-color:#7d7d7d;
$header-btn:#a2a2a2;
$sign-in:#4174e0;
$sign-bg:#9fc2ff;
$bus-page-bg:#fafafa;
$bus-page-border:#eeeeee;
$textarea:#f1f1f1;
$light-blue:#dceaf7;




