<mat-toolbar class="footer">

	<div fxLayout="row" fxLayoutAlign="flex-start"  fxFlex class="footer-nav">

			<a mat-button routerLink="/" target="_blank">Help</a>
			<a mat-button routerLink="/"  target="_blank">Status</a>
			<a mat-button routerLink="/" target="_blank">Writers</a>
			<a mat-button routerLink="/" target="_blank">Blog</a>
			<a mat-button routerLink="/" target="_blank">Careers</a>
			<a mat-button routerLink="/" target="_blank">Privacy</a>
			<a mat-button routerLink="/" target="_blank">Terms</a>
			<a mat-button routerLink="/" target="_blank">About</a>
	</div>

</mat-toolbar>