@import './src/assets/css/variables.scss';
@import './src/assets/css/mixins.scss';

.container {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.content-sec {
	padding: 18px 0;
	display: inline-block;
	width: 100%;

	.title {
		position: relative;
		color: $primary-color;
		font-size: 28px;
		font-weight: 800;
		line-height: 1.2em;
		margin-bottom: 31px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
	}

	.fa {
		width: auto !important;
		height: auto !important;
		min-width: auto !important;
		min-height: auto !important;
	}

	.mat-card {
		padding: 0px;
		margin: 0px;
		box-shadow: none;
		background: none;
	}

	.map-sec {
		iframe {
			width: 100%;
		}

	}

	.address-section { padding:40px 0px;
		.address-box {
			background: rgba(244, 244, 244, 0.6);
			display: inline-block;
			width: 100%;

			.address-wrap {
				width: 33%;
				float: left;

				.address-content {
					padding: 30px 20px 30px 35px;
					display: inline-block;
					width: 100%;

					.icon {
						float: left;
						margin-right: 10px;
					}

					.info {
						float: left;
						width: 77%;
						font-size: 14px;
						font-weight: 300;
						color: $primary-color;
						padding-top:4px;
					}

				}

			}

		}

	}

	.contact-form-section { padding-bottom:30px;
		.contact-us-form {
			.mat-form-field {
				width: 50%;
				padding-right: 15px;
				margin-bottom: 27px;

				&.ng-tns-c11-5 {
					width: 100%;
				}

			}

			.submit-btn {
				border: solid 1px $blue-color;
				border-radius: 5px;
				color: $white-color;
				float: none;
				padding: 0px;
				display: block;
				min-width: 130px;
				font-weight: 400;
				box-shadow: none;
				background: $blue-color;
				margin: 0 auto;

				&:hover{
          background: none; 
          color: $blue-color;
				}

			}

		}

	}

}
